
<md-content class="md-padding" layout-xs="column" layout="row">

    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{vm.user.email}}</span>
                <span class="md-subhead">{{vm.user.username}}</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media"></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button>{{vm.user.firstname}}</md-button>
            <md-button>{{vm.user.lastname}}</md-button>
        </md-card-actions>
    </md-card>

</md-content>